<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin name="mdg_catalog_plugin_after_set_price"
                type="Mdg\Catalog\Plugin\AfterSetPrice" sortOrder="1" disabled="false"/>
    </type>
</config>
